.agent-full-info {
    height: 100vh;
    .full-info__card {
        position: relative;
        height: 500px;
        margin-bottom: 120px;
    }
}



.cardContainerAgent {
    position: relative;
    width: 95%;
    margin: 0 auto;
    height: 74%;
    box-shadow: 0 18px 20px -5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.card_agent {
    height: 80%;
    width: 90%;
}

.indicator__object {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}



.card__bottom {
    position: absolute;
    bottom: 20px;

}

.card__info {
    gap: 100px;
}