.full-info__card {
    position: relative;
    height: 500px;
    margin-bottom: 140px;
}

.cardContainerAgent {
    position: relative;
    width: 95%;
    margin: 0 auto;
    height: 80%;
}

.card_agent {
    height: 80%;
    width: 90%;
}

.indicator__object {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}



.card__bottom {
    position: absolute;
    bottom: 20px;

}

.card__info {
    gap: 100px;
}