@import url("../../fonts.css");

.upperBlock {
  margin-top: 18px;
  background-color: #ffffff;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 18px;
  }

  &__icon {
    position: absolute;
    right: 25px;
  }

  &__heading {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
  }
}
