.container {
  display: flex;
  gap: 10px;
  align-items: end;
  background: white;
  border-radius: 15px;
}

.img {
  width: 168px;
  height: 140px;
  border-radius: 15px;
}

.title {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.093px; /* 114.952% */
  letter-spacing: 0.42px;
  margin-bottom: 7px;
}

.price {
  color: #565656;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 25px;
}

.objectsCount {
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: 14.578px; /* 121.486% */
  letter-spacing: 0.36px;
  margin-bottom: 10px;
}
