.object-list {
    padding: 0 15px;
}

.object-item {
    height: 140px;
    margin-bottom: 11px;
}

.object-img {
    position: relative;
}

.object-inner {
    display: flex;

    height: 141px;

}

.nav-top-object {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.all-like {
    position: absolute;
    bottom: 15px;
    right: 15px;

    .counter {
        position: absolute;
        top: 5px;
        right: 8px;
        color: #FFF;
        text-align: center;
        font-family: "New Rubrik";
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.33px;
    }
}
.object-info {
    margin-left: 30px;

    .object-type {
        color: var(--Color, #434343);
        font-family: "New Rubrik";
        font-size: 16.093px;
        font-style: normal;
        font-weight: 500;
        line-height: 16.093px; /* 100% */
        letter-spacing: 0.483px;
    }

    .object-price {
        color: var(--Color, #434343);
        font-family: "New Rubrik";
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.48px;
    }
}

.full_object-img {
    width: 168px;
    height: 141px;
    border-radius: 15%;
}

.type-price {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.object-all {
    margin-top: 30px;
    color: #000;
    font-family: "New Rubrik";
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 14.578px; /* 121.486% */
    letter-spacing: 0.36px;
}