.navigator {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  display: flex;
  padding: 15px 0 10px 0;
  justify-content: space-around;
  background-color: rgb(255, 255, 255, .9);

  &__button {
    border: none;
    background: none;
    transition: all 0.1s;

    &-stroke {
      fill: none;
      stroke: rgb(0, 0, 0);
      border: none;
      background: none;
      transition: all 0.1s;

      &:active {
        stroke: rgb(8, 199, 176);
        transform: scale(1.3);
      }
    }

    &:active {
      fill: rgb(8, 199, 176);
      transform: scale(1.3);
    }
  }
}
