#root {
  background-color: white;
  /* background: linear-gradient(#e66465, #9198e5); */
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
  position: relative;
}

.cardContainer {
  position: relative;
  width: 100vw;
  height: 60vh;
  z-index: 2;
}







